.wrapper-works
  .works-background
    .works-box
      .works-box__upper
        %h1 Works
      .works-box__under
        .works-box__under__innerbox
          .works-photo 
          .detail
            .detail__tittle
              %h2 作品タイトル
              .text-box-works
                %p 　Funding
            .detail__url
              %h2 URL
              .text-box-works
                %a{href: "https://agile-falls-93212.herokuapp.com/"} 　https://agile-falls-93212.herokuapp.com/
            .detail__works-github
              %h2 GitHubのURL
              .text-box-works
                %a{href: "https://github.com/inoshun1118/funding"} 　https://github.com/inoshun1118/funding
            .detail__explanation
              %h2 説明
              .text-box-works
                %p 　
      .works-box__under
        .works-box__under__innerbox
          .works-photo 
          .detail
            .detail__tittle
              %h2 作品タイトル
              .text-box-works
                %p 　HTML, CSS, Ruby/Ruby on Rails
            .detail__url
              %h2 URL
              .text-box-works
                %p 　MySQL
            .detail__works-github
              %h2 GitHubのURL
              .text-box-works
                %p 　AWS(EC2、S3等), Heroku
            .detail__explanation
              %h2 説明
              .text-box-works
                %p 　Github, Visual Studio Code
      .works-box__under
        .works-box__under__innerbox
          .works-photo 
          .detail
            .detail__tittle
              %h2 作品タイトル
              .text-box-works
                %p 　HTML, CSS, Ruby/Ruby on Rails
            .detail__url
              %h2 URL
              .text-box-works
                %p 　MySQL
            .detail__works-github
              %h2 GitHubのURL
              .text-box-works
                %p 　AWS(EC2、S3等), Heroku
            .detail__explanation
              %h2 説明
              .text-box-works
                %p 　Github, Visual Studio Code
      .top_btn-box-works
        = render partial: 'shared/top_btn'