.wrapper
  .top-background
    %p Shunsuke Inoue's portfolio site
    .links
      .text-box
        %a{href: "profile#index"} Profile
      .text-box
        %a{href: "skill#index"} Skill
      .text-box
        %a{href: "works#index"} Works
      .text-box
        %a{href: "contact#index"} Contact