.wrapper-contact
  .contact-background
    .contact-box
      .contact-box__upper
        %h1 Contact
      .contact-box__under
        .contact-box__under__innerbox
          .detail
            .detail__mail
              %h2 Mail
              .text-box-contact
                %p 　n73.inoue.shunsuke(at)gmail.com
                %p 　atを@に変えてください
            .detail__github
              %h2 GitHub
              .text-box-contact
                %a{href: "https://github.com/inoshun1118"} GitHub: inoshun1118
        .top_btn-box
          = render partial: 'shared/top_btn'