.wrapper{
  min-height: 100vh;
  width: 100vw;
  position: relative;
  .top-background{
    background-image: url('app/assets/images/top_back.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    position: absolute;
    p{
      line-height: 300px;
      font-size: 55px;
      text-align: center;
      font-family: 'Playfair Display', serif;
      color: white;
    }
    .links{
      .text-box{
        height: 60px;
        width: 60px;
        margin: 0 auto 20px;
        a{
          font-size: 40px;
          text-align: center;
          font-family: 'Playfair Display', serif;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}