.wrapper-profile
  .profile-background
    .profile-box
      .profile-box__upper
        %h1 Profile
      .profile-box__under
        .profile-box__under__innerbox
          .photo
          .detail
            .detail__name
              %h2 名前
              .text-box-profile
                %p 　井上峻輔
            .detail__education
              %h2 学歴
              .text-box-profile
                %p 　2016年 4月 京都大学大学院理学研究科生物科学専攻修士課程入学
                %p 　2018年 3月 京都大学大学院理学研究科生物科学専攻修士課程卒業
            .detail__work-history
              %h2 経歴
              .text-box-profile
                %p 　2018年 3月 食品メーカーへ入社
                %p 　総務経理部へ配属
                %p 　テックキャンプでプログラミングを学び、転職活動中
            .detail__motive
              %h2 プログラマーを目指す理由
              %h3 プログラミングを通してより多くの人を支えたい
              .text-box-profile
                %p 　大学院生の頃、他の研究機関から60万円の資金援助を受け、行き詰まっていた研究が一気に進められたという経験をしました。
                %p 　その経験から今度は自分が誰かを応援したいと考えるようになり、入社した食品メーカーでは総務経理部として、備品の発注や破損した設備の修理など、他の社員の方々が働きやすい環境を整える仕事をしていました。
                %p 　しかし、自分の中で、より多くの人を支えたいという思いが強くなっていました。
                %p 　現代社会はIT技術が不可欠です。よって、プログラミングができればより多くの人を支えられると考え、プログラマーを目指すようになりました。
            .detail__hobby
              %h2 趣味
              .text-box-profile
                %li スキューバダイビング
                %li 読書
        .top_btn-box
          = render partial: 'shared/top_btn'