.wrapper-profile
  .profile-background
    .profile-box
      .profile-box__upper
        %h1 Profile
      .profile-box__under
        .profile-box__under__innerbox
          .photo
          .detail
            .detail__name
              %h2 名前
              .text-box-profile
                %p 　井上峻輔
            .detail__education
              %h2 学歴
              .text-box-profile
                %p 　2016年 4月 京都大学大学院理学研究科生物科学専攻修士課程入学
                %p 　2018年 3月 京都大学大学院理学研究科生物科学専攻修士課程卒業
            .detail__work-history
              %h2 経歴
              .text-box-profile
                %p 　2018年 3月 食品メーカーへ入社
                %p 　総務経理部へ配属
                %p 　テックキャンプでプログラミングを学び、転職活動中
            .detail__motive
              %h2 プログラマーを目指す理由
              %h3 プログラミングを通してより多くの人を支えたい
              .text-box-profile
                %p 　大学院生の頃、他の研究機関から60万円の資金援助を受け、行き詰まっていた研究が一気に進められたという経験をし、今度は自分が誰かを支えたいと考えるようになりました。
                %p 　その後、食品メーカーに入社し、総務経理部に配属されてから、どうすれば他のメンバーの負担を軽減できるか考えながら仕事をしていました。
                %p 　その時総務経理部では、売り上げや支出を入力する際に、自社内だけで使っているアプリを用いていました。ただ、入力を中断できず最後までフォームを入力し終えないと内容を破棄できない仕様になっていたため、他のメンバーのために改善したいと考えていました。しかし、このアプリは懇意にしている業者から導入したものなので、内容を変更したり、他社のアプリを導入することはできないことから、その業者に相談しようと考えていました。
                %p 　相談をスムーズに行うため、事前にプログラミング学習を始めましたが、少し触ってみたところ、書いたコードでシステムが動くことを体感し、興味を持つようになりました。
                %p 　また、現代社会はIT技術によって支えられていることから、プログラマーになればより多くの人を支えることができると考えるようになりました。こうして私は転職を決意しました。
            .detail__hobby
              %h2 趣味
              .text-box-profile
                %li スキューバダイビング
                %li 読書
        .top_btn-box
          = render partial: 'shared/top_btn'